
<!DOCTYPE html>
{% include 'navbar.html' %}

<center>
<html lang="en">
<head>
    {% block content %}
<br>
<center>
  <h2>Welcome, {{ user.username }}!</h2>
    </center>
<br>
 <br>

{% endblock %}


    <meta charset="UTF-8">
    <title>Mood Records</title>
     {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body style="background-color:#B9A9E6">
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Message</th>
        <th>Mood</th>
        <th>Datetime</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for mood in moods %}
    <tr>
        <td>{{ mood.message }}</td>
        <td>{{ mood.result }}</td>
        <td>{{ mood.time }}</td>
        <td>
            <a href="/delete/{{ mood.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
   <form action="/index" method="get" class="form">
    {% csrf_token %}
    {{form.as_p}}
    <br>
        <button type="submit" class="btn btn-info">Add New</button>
   </form>
<br>
<br>
</body>
</center>
</html>
